

h2 {
  flex-grow: 1;
  position: relative;
  text-align: center;
  font-size: 64px;
  font-weight: 600px;
  line-height: 0.7;
  margin: 0;
  padding: 15px;
}

h2:after {
      content: '';
      background-color: white;
      display: block;
      position: absolute;
      height: 2px;
      left: 15px;
      right: 15px;
      top: 55%;
}